*.class
bin
bin/classes

.classpath

bin/classes.dex

*.dex

*.cache

*.txt

*.ap_

*.apk

bin/classes/com/stalker/AddToDoActivity.class

*.class

bin/classes/com/stalker/DBHelper/Category.class

bin/classes/com/stalker/DBHelper/DatabaseHandler.class

bin/classes/com/stalker/DBHelper/Priority.class

bin/classes/com/stalker/LocationService.class

bin/classes/com/stalker/MainActivity$GetAddressTask.class

bin/classes/com/stalker/MainActivity.class

bin/TodoStalker.apk

*.ap_

bin/TodoStalker.apk
